.places{
    display: grid;
    max-width: 984px;
    gap: 80px;
    margin: 0 auto;
    box-sizing: border-box;
    justify-content: center;
}

@media screen and (max-width: 984px) {
    .places{
        margin: 0;
    }
}


@media screen and (max-width: 767px) {
    .places{
        margin: 0 auto;
    }
}

