.footer__link {
    font-size: 1rem;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
    list-style: none;
    color: #fff;
    text-align: left;
    transition: opacity 1s;
    padding: 0;
}

.footer__link:hover {
    opacity: 0.3;
}


@media screen and (max-width: 568px) {
    .footer__link {
        font-size: 1.5rem;
        line-height: 24px;

    }

}