.lead__image {
    display: block;
    max-width: 984px;
    width: 100%;
    box-sizing: border-box;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    margin: 0 auto;
    

}

@media screen and (max-width: 1124px) {
    .lead__image {
        max-width: 928px;

    }
}


@media screen and (max-width: 984px) {
    .lead__image {
        max-width: 768px;
    }

}

@media screen and (max-width: 568px) {
    .lead__image {
        max-width: 320px;
    }
}