.intro__text {
    max-width: 690px;
    font-size: 1rem;
    line-height: 163%;
    font-weight: 400;
    margin: 0 0 33px;
}




@media screen and (max-width: 568px) {
    .intro__text {
        max-width: 288px;
        margin: 0 0 34px;
    }
}