.place__link {
    font-size: 1.5em;
    font-weight: 400;
    line-height: 22px;
    text-decoration: underline;
    color: #ffffff;
    padding-top: 12px;
    transition: opacity 1s;
}

.place__link:hover {
    opacity: 0.8;
}